<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <%- include('../includes/styles.ejs') %>
    <link rel="stylesheet" href="/css/product.css" />
  </head>
  <body>
    <%- include('../includes/navbar.ejs') %>
    <main>
      <% if (products.length > 0) { %>
      <center>
        <ul class="cart-list">
          <% for(let product of products) { %>
          <li>
            <p><%= product.productId.title %></p>
            <p>quantity: <%= product.quantity %></p>
            <form action="/cart-delete-item" method="POST">
              <input type="hidden" name="id" value="<%= product.productId._id %>" />
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <button class="btn" type="submit">Delete From Cart</button>
            </form>
          </li>
          <% } %>
        </ul>
        <hr />
        <!-- <form action="/create-order" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button class="btn" type="submit">Order Now</button>
        </form> -->
        <a href="/checkout" class="btn">Order now</a>
      </center>
      <% } else { %>
      <h1>Empty Cart</h1>
      <% } %>
    </main>
    <%- include('../includes/scripts.ejs') %>
  </body>
</html>
