<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <%- include('../includes/styles.ejs') %>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('../includes/navbar.ejs') %>
    <main>
      <% if (orders.length <= 0) { %>
      <h1>Nothing there!</h1>
      <% } else { %>
      <ul class="orders">
        <% orders.forEach(order => { %>
        <li class="orders__item">
          <h1>Order - # <%= order._id %></h1>
          <ul class="orders__products">
            <% order.products.forEach(p => { %>
            <li class="orders__products-item">
              <%= p.product.title %> (<%= p.quantity %>)
            </li>
            <% }); %>
          </ul>
        </li>
        <% }); %>
      </ul>
      <% } %>
    </main>
    <%- include('../includes/scripts.ejs') %>
  </body>
</html>
